.home-page.app-container {
  margin-block: var(--dimension-500);
}

.home-page .ds.checkbox-group {
  --x-gap: var(--space-200);
  --y-gap: var(--space-100);

  padding: 0;
  border: none;
  display: grid;
  row-gap: var(--y-gap);
  margin-block-end: var(--space-400);

  label {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: var(--x-gap);
    align-items: center;
    cursor: pointer;
  }
}
