@use "vanilla-framework" as vanilla;

@mixin p-charmhub-multiselect {
  $box-shadow-color: rgb(0, 0, 0, 0.12);

  .p-multiselect__wrapper {
    margin-block: vanilla.$spv--small vanilla.$input-margin-bottom;
  }

  .p-multiselect__clear {
    float: right;
    margin-block-start: -2rem;
  }

  .p-multiselect {
    @extend %vf-clearfix;

    align-items: flex-start;
    border: 1px solid vanilla.$colors--light-theme--border-high-contrast;
    box-shadow: inset 0 1px 1px vanilla.$color-input-shadow;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5rem;
    margin-block: vanilla.$spv--small vanilla.$input-margin-bottom;
    min-width: 10em;
    padding: 0 vanilla.$spv--small;
    place-content: flex-start flex-start;
    position: relative;
    width: 100%;

    &.is-disabled {
      cursor: not-allowed;
      opacity: 0.6;
      pointer-events: none;
    }

    &.is-focused {
      outline: vanilla.$bar-thickness solid vanilla.$color-focus;
      outline-offset: -(vanilla.$bar-thickness);
    }

    .p-multiselect__item {
      border: 1px solid vanilla.$color-mid-light;
      border-radius: 2em;
      display: block;
      font-size: 0.875rem;
      margin-block-start: 0.3rem;
      margin-inline-end: vanilla.$spv--small;
      padding: 0 vanilla.$spv--small;

      .p-multiselect__item-remove {
        cursor: pointer;
        height: 0.75em;
        margin-block-end: 0.125rem;
        margin-inline-start: vanilla.$spv--small;
        width: 0.75em;
      }
    }

    .p-multiselect__input {
      background: 0;
      border: 0 none;
      box-shadow: none;
      flex-grow: 1;
      float: left;
      margin-block-end: 0;
      min-width: 0;
      outline: none;
      width: auto;
    }

    .p-multiselect__options {
      @extend %vf-has-box-shadow;

      background: vanilla.$color-x-light;
      left: 0;
      list-style-type: none;
      margin-inline-start: 0;
      max-height: 10rem;
      min-height: 2.5rem;
      overflow: auto;
      padding-inline-start: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 1;

      &::before {
        color: vanilla.$color-mid-light;
        content: "No matches";
        font-size: vanilla.$sp-medium;
        left: 0;
        padding: vanilla.$spv--small;
        position: absolute;
        top: 0;
      }
    }

    .p-multiselect__option {
      background: vanilla.$color-x-light;
      cursor: pointer;
      padding: vanilla.$spv--small;
      position: relative;

      &.is-highlighted,
      &:hover {
        background: vanilla.$color-light;
      }
    }
  }
}
