// colour definitions
$color-brand: #00302f;
$color-accent: $color-brand;
$color-navigation-background: #252525;

// vanilla patterns
@use "vanilla-framework" as vanilla;

@use "charmhub_p-header" as header;

@include vanilla.vf-base;
@include vanilla.vf-p-grid;
@include vanilla.vf-p-headings;
@include vanilla.vf-p-lists;
@include vanilla.vf-p-media-object;
@include vanilla.vf-p-strip;
@include vanilla.vf-p-tooltips;
@include vanilla.vf-u-align;
@include vanilla.vf-u-floats;
@include vanilla.vf-u-margin-collapse;
@include vanilla.vf-u-text-muted;

@include header.charmhub-p-header;

// CUSTOM STYLES FOR EMBEDDED CARD

.p-strip.has-suru {
  background-image:
    linear-gradient(
      to bottom left,
      rgba(229, 229, 229, 0.3) 0,
      rgba(229, 229, 229, 0.3) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to top left,
      rgba(229, 229, 229, 0.3) 0,
      rgba(229, 229, 229, 0.3) 49.9%,
      transparent 50%
    ),
    linear-gradient(0deg, vanilla.$color-light, vanilla.$color-light);
  background-position: top right, bottom right;
  background-repeat: no-repeat;
  background-size: 75% 100%, 35% 100%, 100% auto;

  @media screen and (min-width: vanilla.$breakpoint-small) {
    background-size: 45% 100%, 25% 250%;
  }
}

// cover whole card with a link to the Store page
.p-embedded-card-link {
  display: block;
  inset: 0;
  position: fixed;
  z-index: 10;
}

// utility to make ellipsis
.u-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// make max-width of the layout smaller for embedded view
.row {
  max-width: 40rem;
  padding-inline: 1.5rem 1.5rem;
}

.p-inline-list--stretch {
  .p-inline-list__item {
    margin-inline-end: 0;

    &:first-child {
      max-width: 60%;
      min-width: 60%;
    }
  }
}

.u-flex {
  display: flex;
}
