@charset 'UTF-8';

// import cookie policy
@use "@canonical/cookie-policy/build/css/cookie-policy";

// Import Vanilla framework
@use "vanilla-framework" as vanilla;

// Import custom rocks styles
@use "pattern_p-card" as card;
@use "pattern_grid" as grid;
@use "pattern_p-navigation" as navigation;
@use "pattern_p-media-object" as media-object;
@use "pattern_p-image" as image;
@use "pattern_p-table" as table;
@use "pattern_p-icon" as icon;
@use "pattern_p-strip" as strip;
@use "pattern_p-list" as list;
@use "pattern_p-accordion" as accordion;
@use "pattern_heading-icon" as heading-icon;
@use "pattern_p-table-of-contents" as toc;
@use "charmhub_footer" as footer;
@use "charmhub_p-header" as header;
@use "charmhub_metrics" as metrics;
@use "pattern_form-multiselect" as multiselect;
@use "pattern_p-form" as form;
@use "pattern_p-separator" as separator;
@use "pattern_p-button" as button;
@use "pattern_p-button-group" as button-group;
@use "pattern_p-modal" as modal;
@use "pattern_p-docstring" as docstring;
@use "charmhub_p-topology" as topology;
@use "pattern_l-fluid-breakout" as fluid-breakout;
@use "pattern_p-filter-panel" as filter-panel;
@use "settings" as settings;


// Base Vanilla styles
@include vanilla.vf-base;

// Vanilla components
@include vanilla.vf-p-accordion;
@include vanilla.vf-p-buttons;
@include vanilla.vf-p-card;
@include vanilla.vf-p-chip;
@include vanilla.vf-p-code-snippet;
@include vanilla.vf-p-forms;
@include vanilla.vf-p-form-help-text;
@include vanilla.vf-p-form-tick-elements;
@include vanilla.vf-p-form-validation;
@include vanilla.vf-p-grid;
@include vanilla.vf-p-headings;
@include vanilla.vf-p-heading-icon;
@include vanilla.vf-p-icons;
@include vanilla.vf-p-icon-fullscreen;
@include vanilla.vf-p-image;
@include vanilla.vf-p-status-label;
@include vanilla.vf-p-links;
@include vanilla.vf-p-lists;
@include vanilla.vf-p-media-object;
@include vanilla.vf-p-modal;
@include vanilla.vf-p-muted-heading;
@include vanilla.vf-p-notification;
@include vanilla.vf-p-navigation;
@include vanilla.vf-p-pagination;
@include vanilla.vf-p-search-and-filter;
@include vanilla.vf-p-search-box;
@include vanilla.vf-p-strip;
@include vanilla.vf-p-side-navigation;
@include vanilla.vf-p-side-navigation-expandable;
@include vanilla.vf-p-table-of-contents;
@include vanilla.vf-p-table-mobile-card;
@include vanilla.vf-p-tabs;
@include vanilla.vf-p-tooltips;
@include vanilla.vf-p-contextual-menu;
@include vanilla.vf-l-fluid-breakout;
@include vanilla.vf-p-icon-change-version;
@include vanilla.vf-p-icon-submit-bug;
@include vanilla.vf-l-application;
@include vanilla.vf-p-icon-status-waiting;

// Vanilla utilities
@include vanilla.vf-u-align;
@include vanilla.vf-u-animations;
@include vanilla.vf-u-clearfix;
@include vanilla.vf-u-floats;
@include vanilla.vf-u-layout;
@include vanilla.vf-u-off-screen;
@include vanilla.vf-u-hide;
@include vanilla.vf-u-margin-collapse;
@include vanilla.vf-u-padding-collapse;
@include vanilla.vf-u-vertically-center;
@include vanilla.vf-u-vertical-spacing;
@include vanilla.vf-u-text-muted;
@include vanilla.vf-u-no-max-width;
@include vanilla.vf-u-truncate;
@include card.p-charmhub-card;
@include grid.p-charmhub-grid;
@include navigation.p-charmhub-navigation;
@include media-object.p-charmhub-media-object;
@include image.p-charmhub-image;
@include table.p-charmhub-table;
@include icon.p-charmhub-icon;
@include icon.p-charmhub-social-icons;
@include strip.p-charmhub-strip;
@include list.p-charmhub-list;
@include accordion.p-charmhub-accordion;
@include heading-icon.p-charmhub-heading-icon;
@include toc.p-charmhub-table-of-contents;
@include footer.charmhub-p-footer;
@include header.charmhub-p-header;
@include metrics.charmhub-metrics;
@include multiselect.p-charmhub-multiselect;
@include form.p-charmhub-form;
@include separator.p-charmhub-separator;
@include button.p-charmhub-button;
@include button-group.p-charmhub-button-group;
@include modal.p-charmhub-modal;
@include docstring.p-charmhub-docstring;
@include topology.p-charmhub-topology;
@include fluid-breakout.l-charmhub-fluid-breakout;
@include filter-panel.p-charmhub-filter-panel;


// Remove table row borders
.p-table--no-borders tr {
  border-top: 0 !important;

  .p-list:last-of-type {
    margin-bottom: 0;
  }
}

.p-channel-map__button {
  @media screen and (min-width: vanilla.$breakpoint-small) {
    margin-bottom: 0 !important;
  }
}

.p-channel-map {
  margin-inline-end: 1rem;
  position: absolute;
  width: calc(100vw - 6rem);
  z-index: 11;

  @media screen and (max-width: settings.$breakpoint-large - 1) {
    top: 2.4rem;
  }

  @media screen and (max-width: vanilla.$breakpoint-small - 1) {
    width: calc(100vw - 2rem);
  }

  .p-channel-map__mask {
    left: 0;
    position: fixed;
    top: 0;
  }

  .p-channel-map__content {
    max-width: settings.$breakpoint-large;
    position: relative;
    z-index: 1;

    table tr {
      cursor: pointer;
    }

    table tr.is-active td {
      font-weight: 400;
    }

    tbody tr {
      &:hover {
        background-color: vanilla.$color-light;
      }
    }
  }
}

.p-heading-icon__group {
  margin-bottom: 1rem;
}

// XXX Ovi - 04.04.20: This can be removed once this issue is closed.
// https://github.com/canonical-web-and-design/vanilla-framework/issues/1452
body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto auto 1fr auto;
  min-height: 100vh;
}

// Ovi 13.07.2020 - This can be removed once a new version of global-nav is released
// as the issue was fixed
// https://github.com/canonical-web-and-design/global-nav/commit/03173d82a1f1d4b77f8e20e41ef552b90dbab798

@media (width <= 875px) {
  body {
    padding-bottom: 0 !important;
  }
}

// Ovi 16.07.2020 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3172
.has-no-arrow-mobile.p-tabs::after {
  content: "";
}

.package-card-icons {
  > * {
    display: inline-block;
    margin-right: 0.5rem;
    position: relative;
    top: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.p-details-tab__content {
  .p-side-navigation {
    @media (min-width: vanilla.$breakpoint-small) {
      top: 56px;
    }
  }

  .p-side-navigation__link.u-truncate {
    display: block;
  }

  &.bundle-config {
    .p-side-navigation__link {
      padding-left: 1rem;

      .p-side-navigation__icon {
        margin-right: 16px;
      }
    }

    // Second level navigation
    .p-side-navigation__item > .p-side-navigation__list {
      .p-side-navigation__link {
        padding-left: 3.5rem;
      }
    }
  }

  .p-details-tab__content__body * {
    text-align: left;
  }

  .p-details-tab__content__body {
    h1[id],
    h2[id],
    h3[id],
    h4[id],
    h5[id],
    h6[id] {
      margin-top: -65px;

      &::before {
        content: " ";
        display: block;
        height: 65px;
        pointer-events: none;
        visibility: hidden;
      }
    }

    .p-bundle-icons {
      grid-gap: 0.75rem;

      .p-bundle-icon {
        border: 0 none;
      }
    }
  }

  .p-details-tab__content__body .p-details-tab__content__body__title,
  .p-details-tab__content__body .p-details-tab__content__body__link {
    display: inline;
    margin-right: 1rem;
  }
}

// Override h3 font weight based on design feedback from MS
.p-heading--3,
h3 {
  font-weight: 200;
}

.vertical-separator {
  border-right: 1px solid vanilla.$color-mid-light;
  display: inline-block;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.charm-empty-docs-icon {
  border-right: 1px solid #cdcdcd;
  padding-left: vanilla.$sp-x-large;
  padding-right: vanilla.$sp-x-large;

  @media screen and (max-width: settings.$breakpoint-large - 1) {
    display: none;
  }
}

.charm-empty-docs-content {
  @media screen and (min-width: vanilla.$breakpoint-small) {
    padding-left: vanilla.$sp-x-large;
  }
}

.instruction-tooltip:hover .p-tooltip__modal {
  display: flex;
}

.instruction-tooltip:hover::after {
  content: "";
  display: block;
  height: 40px;
  left: 100%;
  position: absolute;
  top: -50%;
  width: 40px;

  @media screen and (max-width: settings.$breakpoint-large - 1) {
    content: none;
  }
}

// XXX Ovi 28.04.2021 - This can be removed once this issue is closed
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3723
.l-fluid-breakout__item {
  @media (min-width: vanilla.$breakpoint-small) {
    max-width: 30rem;
  }
}

.charm-framework-type {
  border-top: 1px solid vanilla.$color-mid-x-light;
  margin-top: 1rem;
  padding: 0.25rem 1rem 0.3rem;

  @media (min-width: settings.$breakpoint-large) {
    padding-top: 0.1rem;
  }

  i {
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}

.detail-resource-footer {
  margin-bottom: 2rem;

  small {
    display: inline-block;
    margin-bottom: 0.5rem;

    @media (min-width: vanilla.$breakpoint-small) {
      margin-right: 1rem;
    }
  }
}

.has-top-color {
  border-top: 3px solid vanilla.$color-accent;
}

.l-fluid-breakout__aside .p-side-navigation__form {
  margin-bottom: 1rem;

  @media (max-width: settings.$breakpoint-large - 1) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .p-form__label {
    min-width: 5rem;
  }
}

.l-fluid-section {
  grid-column: 1/-1;
  margin-bottom: 1rem;
  padding: 0;

  .l-fluid-breakout__main {
    grid-column: 1/-1;
    padding: 0;
  }

  .l-fluid-breakout__toolbar-items {
    grid-column: 1/-1;
  }
}

#topics {
  @media (max-width: settings.$breakpoint-large - 1) {
    grid-row: 2;
  }

  .u-equal-height {
    @media (min-width: vanilla.$breakpoint-small) {
      gap: 1.3rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: settings.$breakpoint-large - 1) {
      .p-muted-heading {
        margin-bottom: 0;
        padding-top: 0;
      }
    }

    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.p-topics-contribute__button {
  @media (min-width: settings.$breakpoint-large) {
    margin-left: vanilla.$sp-large;
  }
}

.l-application {
  width: 100% !important;
}

.l-aside {
  background-color: vanilla.$color-x-light;
  height: 100vh;
  max-width: 535px;
  padding: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;

  .l-application & {
    z-index: 1000;
  }
}

.p-panel {
  display: flex;
  flex-direction: column;
}

.p-panel__content {
  flex: 1 1 0;
}

.p-panel__footer {
  border-top: 1px solid vanilla.$color-mid-x-light;
  padding-top: vanilla.$sph--large;
}

.l-aside__overlay {
  background-color: rgb(0,0,0,0.5);
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

@media only screen and (max-width: settings.$breakpoint-large) {
  .interface-sidebar {
    order: 2;
  }

  .interface-content {
    order: 1;
  }
}

.u-split--3 {
  columns: 3;
}

// Vanilla top aligns table cells which causes misalignment when a button is
// present. This table is targeted to avoid potential issues with other
// existing tables.
// stylelint-disable
.registered-charms-table td {
  vertical-align: middle;
}
// stylelint-enable

// Large icon for modal headers
.modal-header-icon {
  height: 1rem !important;
  width: 1rem !important;
}

// XXX - Related to https://github.com/canonical/vanilla-framework/issues/4887
.p-search-box .p-search-box__button .p-icon--search {
  background-image: url("data:image/svg+xml,%3Csvg width=%2716%27 height=%2716%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M6.964 1a5.964 5.964 0 014.709 9.623l4.303 4.305-1.06 1.06-4.306-4.305A5.964 5.964 0 116.963 1zm0 1.5a4.464 4.464 0 100 8.927 4.464 4.464 0 000-8.927z%27 fill=%27%23666%27 fill-rule=%27nonzero%27/%3E%3C/svg%3E") !important;
}

.p-search-box .p-search-box__reset .p-icon--close {
  background-image: url("data:image/svg+xml,%3Csvg width=%2716%27 height=%2716%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath fill=%27%23666%27 fill-rule=%27nonzero%27 d=%27M13.041 1.898l1.06 1.06L9.062 8l5.04 5.042-1.06 1.06L8 9.062 2.96 14.1l-1.06-1.06L6.938 8 1.9 2.96l1.06-1.06 5.04 5.04z%27/%3E%3C/svg%3E") !important;
}

.p-search-box .p-search-box__input:placeholder-shown ~ .p-search-box__reset {
  display: none !important;
}

.mermaid-diagram-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.is-underlined {
  text-decoration: underline;
}

.release-channel{
  border:inherit;
  border-right: 1px solid var(--vf-color-border-low-contrast);
  display: table-cell;

  &:hover {
    background-color: var(--vf-color-background-hover);
    cursor: pointer;
  }

  & > [class^="p-icon"] {
    margin-right: 0.5rem;
  }

  @media screen and (max-width: settings.$breakpoint-large) {
    border: none;
  }
}

.sc-rock-card {
  height: 100%;
}
