<div class="p-strip--light is-shallow">
  {% if request.path.startswith("/kubeflow") and schedule_banner("2023-03-08", "2023-03-22") %}
    {% include "partial/_kubeflow-beta-banner.html" %}
  {% endif %}
  <div class="row">
    <div class="col-9">
      <div class="p-charm-header">
        <div class="p-media-object--large">
          {% if package["icons"] %}
            {{ image(url=package.icons[0],
                          alt=package.name,
                          width="100",
                          height="100",
                          hi_def=True,
                          fill=True,
                          attrs={"class": "p-media-object__image"},) | safe
            }}
          {% else %}
            {{ image(url="https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg",
                          alt=package.metadata.name,
                          width="100",
                          height="100",
                          hi_def=True,
                          fill=True,
                          attrs={"class": "p-media-object__image"},) | safe
            }}
          {% endif %}
          <div class="p-media-object__details">
            <h1 class="p-media-object__title">{{ package["display_name"] }}</h1>
            <div class="p-media-object__content u-no-margin--bottom">
              <ul class="p-inline-list--middot">
                <li class="p-inline-list__item">
                  {% if package.publisher.name != None %}{{ package.publisher.name }}{% endif %}
                  {% if developer_validation == "verified" %}
                    <span class="p-tooltip--top-center" aria-describedby="openstack-tooltip">
                      <img src="https://assets.ubuntu.com/v1/75654c90-rosette.svg">
                      <span class="p-tooltip__message" role="tooltip" id="default-tooltip">Verified account</span>
                    </span>
                  {% endif %}
                </li>
                {% if package.categories %}
                  <li class="p-inline-list__item">
                    <a href="/?filter={{ package.categories[0].slug }}">{{
                    package.categories[0].name }}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <p style="margin-bottom: 0.5rem;">
        <small class="u-no-padding--top u-text--muted">Platform:</small>
      </p>

      <div class="series-base">
        <div class="series-base__title">
          <img src="https://assets.ubuntu.com/v1/9f8a8273-2018-logo-kubernetes+%282%29.svg"
                alt=""
                width="160"
                height="27"
                class="p-image--base">
        </div>
      </div>
    </div>
  </div>
</div>
