<div class="u-fixed-width">
  <nav class="p-tabs" data-js="tabs" aria-label="Details pages navigation">
    <ul class="p-tabs__list" role="tablist">
      <li class="p-tabs__item" role="presentation">
        <a href="/{{ package.name }}{% if channel_requested %}?channel={{ channel_requested }}{% endif %}" class="p-tabs__link" tabindex="0" role="tab" {% if current_tab == 'overview' or current_tab == 'docs' %}aria-selected="true" {% endif %}>Description</a>
      </li>
    </ul>
  </nav>
</div>

