{% import '/partial/_macros.html' as macros %}

{% if navigation %}
  {% if versions | length > 1 %}
    <label for="version-select" class="u-hide">Version</label>
    <select name="version-select" id="version-select" onChange="window.location.href=this.value">
      {% for version in versions %}
        {% set active = docs_version == version['path'] %}
        <option value="{{ version_paths[version['path']] }}"{% if active %} selected{% endif %}>Version {{ version['version'] }}</option>
      {% endfor %}
    </select>
  {% endif %}
  <nav data-js="navigation" class="p-side-navigation--raw-html" id="default">
    <a href="#default" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="default">
      Toggle side navigation
    </a>
    <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="default"></div>
    <div class="p-side-navigation__drawer">
      <div class="p-side-navigation__drawer-header">
        <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="default">
          Toggle side navigation
        </a>
      </div>
      {% for nav_group in navigation.nav_items %}
        {% if nav_group.navlink_text %}
          <h3>{{ nav_group.navlink_text }}</h3>
        {% endif %}
        {{ macros.create_navigation(nav_group.children, channel_requested, expandable=True) }}
      {% endfor %}
    </div>
  </nav>
  <hr class="p-separator--shallow" />
{% endif %}

{% if package.metadata.license and not package.metadata.license == "unset" %}
  <h2 class="p-heading--5 p-muted-heading p-text--small-caps">Rock License</h2>
  <p><i class="p-icon--certification"></i>&nbsp;&nbsp;{{ package.metadata.license }}</p>
  <hr class="p-separator--shallow">
{% endif %}

{% if package.metadata.rock_details %}
  <h2 class="p-heading--5 p-muted-heading p-text--small-caps">Rock details</h2>
  <ul class="p-list">
    {% if package.metadata.status == "full" %}
    <li class="p-list__item u-no-margin--bottom">
      <p><i class="p-icon--plans"></i>&nbsp;&nbsp;Full rock</p>
    </li>
    {% endif %}
    {% if package.metadata.status == "chisel" %}
    <li class="p-list__item u-no-margin--bottom">
      <p><i class="p-icon--plans"></i>&nbsp;&nbsp;Chiseled rock</p>
    </li>
    {% endif %}

    {% if package.metadata.rock_details.repo_url %}
      <li class="p-list__item">
        <a href="{{ package.metadata.rock_details.repo_url }}"><i class="p-icon--repository"></i>&nbsp;&nbsp;Rock repository</a>
      </li>
    {% endif %}

    {% if package.metadata.rock_details.docs_url %}
      <li class="p-list__item">
        <a href="{{ package.metadata.rock_details.docs_url }}"><i class="p-icon--repository"></i>&nbsp;&nbsp;Rock documentation</a>
      </li>
    {% endif %}

    {% if package.metadata.rock_details.SBOM_url %}
      <a href="{{package.metadata.rock_details.SBOM_url}}" class="p-button"><i class="p-icon--begin-download"></i>&nbsp;&nbsp;SBOM</a>
    {% endif %}
  </ul>
{% endif %}

{% if package.metadata["links"] %}
  {% if package.metadata["links"]["website"] %}
  <h2 class="p-heading--5 u-no-margin--bottom">Websites</h2>
    <ul class="p-list">
      {% for website in package.metadata["links"]["website"] %}
      <li><a href="{{ website }}">{{ website }}</a></li>
      {% endfor %}
    </ul>
    <hr class="p-separator--shallow" />
  {% endif %}
  {% if package.metadata["links"]["contact"] %}
    <h3 class="p-heading--5 u-no-margin--bottom">Contact</h3>
    <ul class="p-list">
      {% for contact in package.metadata["links"]["contact"] %}
      <li><a href="{{ contact }}">{{ contact|replace('mailto:', '') }}</a></li>
      {% endfor %}
    </ul>
    <hr class="p-separator--shallow" />
  {% endif %}
{% endif %}
<h2 class="p-heading--5 u-no-margin--bottom">Discuss this Rock</h2>
<p>Share your thoughts on this rock with the community on discourse.</p>
<p><a class="p-button" href="https://discourse.ubuntu.com/c/project/rocks/117">Join the discussion</a></p>

<script src="{{ versioned_static('js/dist/docs-side-nav.js') }}"></script>
