{% import '/partial/_macros.html' as macros %}

{% if navigation %}
  <nav data-js="navigation" class="p-side-navigation--raw-html" id="default">
    <a href="#default" class="p-side-navigation__toggle js-drawer-toggle" aria-controls="default">
      Toggle side navigation
    </a>
    <div class="p-side-navigation__overlay js-drawer-toggle" aria-controls="default"></div>
    <div class="p-side-navigation__drawer">
      <div class="p-side-navigation__drawer-header">
        <a href="#" class="p-side-navigation__toggle--in-drawer js-drawer-toggle" aria-controls="default">
          Toggle side navigation
        </a>
      </div>
      {% for nav_group in navigation.nav_items %}
        {% if nav_group.navlink_text %}
          <h3>{{ nav_group.navlink_text }}</h3>
        {% endif %}
        {{ macros.create_navigation(nav_group.children, channel_requested, expandable=True) }}
      {% endfor %}
    </div>
  </nav>
  <hr class="p-separator--shallow" />
{% endif %}

{% if package.metadata.license and not package.metadata.license == "unset" %}
  <h2 class="p-heading--5 p-muted-heading p-text--small-caps">Rock License</h2>
  <p><i class="p-icon--certification"></i>&nbsp;&nbsp;{{ package.metadata.license }}</p>
  <hr class="p-separator--shallow">
{% endif %}

<h2 class="p-heading--5 p-muted-heading p-text--small-caps">Contact</h3>
{% if package.metadata["links"] and package.metadata["links"]["contact"] %}
  <ul class="p-list">
    {% for contact in package.metadata["links"]["contact"] %}
      <li><a href="{{ contact }}">{{ contact|replace('mailto:', '') }}</a></li>
    {% endfor %}
  </ul>
  <hr class="p-separator--shallow" />
{% endif %}
<p>Share your thoughts on this rock with the community on discourse.</p>
<p><a class="p-button" href="https://discourse.ubuntu.com/c/project/rocks/117">Join the discussion</a></p>

<script src="{{ versioned_static('js/dist/docs-side-nav.js') }}"></script>
