{% extends 'base_layout.html' %}

{% block meta_title %}Deploy rock using Rockcraft{% endblock %}
{% block meta_twitter_card %}summary{% endblock %}
{% block meta_image_width %}200{% endblock %}
{% block meta_image_height %}200{% endblock %}


{% block structure_data_markup %}
<script type="application/ld+json">
 {
     "@context": "http://schema.org",
     "@type": "SoftwareApplication",
     "name": "{{ package.metadata.title }}",
     "image": "{{ self.meta_image() }}",
     "url": "https://rockcraft.io/{{ package.name }}",
     "publisher": {
         "@type": "Organization",
         "name": "xxx-rock-publisher"
     },
      "applicationCategory": "other",
     "operatingSystem": "ubuntu",
     "softwareVersion": "22.04"
 }
</script>
{% endblock %}

{% block content %}
  {% include "details/_details-header.html" %}
  {% include "details/_details-tab-navigation.html" %}

  {% block details_content %} {% endblock %}
{% endblock %}

{% block page_scripts %}
  <script src="{{ versioned_static('js/dist/details.js') }}" defer></script>
  <script src="{{ versioned_static('js/dist/highlight-js.js') }}" defer></script>
  {% block details_scripts %}{% endblock details_scripts %}
{% endblock %}
