{% set current_tab = "overview" %}

{% extends '/details/details_layout.html' %}

{% block details_content %}
<div class="row p-details-tab__content">
  <div class="col-3 p-details-tab__content__sidebar">
    {% include '/details/_side-nav.html' %}
  </div>
  <div class="col-9 p-details-tab__content__body">
    <div class="js-readme-content">
      {% if package.summary %}
        <p>{{ package.summary | safe }}</p>
      {% endif %}

      <table aria-label="Example of formatting in the table">
        <thead>
          <tr>
            <th>Channel version</th>
            <th>Channel risk</th>
            <th>Revision</th>
            <th>Workload version</th>
            <th>Last updated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span>{{ package.latest_channel.version }}</span>
              <button class="p-chip--positive is-inline">
                <span class="p-chip__value">{{ package.latest_channel.track }}</span>
              </button>
            </td>
            <td>{{ package.latest_channel.risk }}</td>
            <td>{{ package.latest_channel.revision }}</td>
            <td>{{ package.latest_channel.workload_version }}</td>
            <td>{{ package.latest_channel.last_updated }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    {% if package.description %}
      <p>{{ package.description | safe }}</p>
    {% else %}
      <p>No description provided.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block details_scripts %}
<script src="{{ versioned_static('js/dist/details_overview.js') }}" defer></script>

{% endblock %}