<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row--25-75">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="/">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg" alt="Canonical Rocks" />
          </div>
          <span class="p-navigation__logo-title">Canonical Rockcraft</span>
        </a>
      </div>
      <ul class="p-navigation__items">
        <li class="p-navigation__item">
          <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
          <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
        </li>
      </ul>
    </div>
    <nav class="p-navigation__nav">
      <ul class="p-navigation__items">
        <li class="p-navigation__item{% if request.path == '/' %} is-selected{% endif %}">
          <a class="p-navigation__link" href="/">Rock Store</a>
        </li>
        <li class="p-navigation__item--dropdown-toggle" id="community-link">
          <a class="p-navigation__link" href="#community-link-menu" aria-controls="community-link-menu">Community</a>
          <ul class="p-navigation__dropdown" id="community-link-menu" aria-hidden="true">
            <li>
              <a href="https://discourse.ubuntu.com/c/project/rocks/117" class="p-navigation__dropdown-item">
                Discourse forum
              </a>
            </li>
            <li>
              <a href="https://matrix.to/#/#rocks:ubuntu.com" class="p-navigation__dropdown-item">
                Matrix chat
              </a>
            </li>
          </ul>
        </li>
        <li class="p-navigation__item" id="docs-link">
          <a class="p-navigation__link" href="https://documentation.ubuntu.com/rockcraft/en/latest/#" aria-controls="docs-link-menu">Docs</a>
        </li>
      </ul>
      <ul class="p-navigation__items global-nav">
      </ul>
    </nav>
  </div>
  <div class="p-navigation__search-overlay"></div>
</header>

